html {
    scroll-behavior: smooth;
}

body {
    background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: floralwhite;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;

    /*
    opacity: 1;
    transition: 3s opacity; */
}
/*
body.fade {
    opacity: 0;
    transition: none;
}
*/

nav {
    float: left;
    width: 17%;
    height: 100%;
    position: fixed;
    margin: 0;
    background-color: darkgrey;
    z-index: 9999;

}

.ulNav {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: block;

}

.navList {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(29, 29, 29);
    transition: transform .2s;
}


.navList:hover {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}

#navContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: ;
    margin: 30px;
}

.navButton {  
    color: rgb(29, 29, 29);
    margin: 10px;
    padding: 5px;
    font-size: 50px;
    transition: transform .2s;
    text-decoration: none;

}

.icons {
    color: inherit; 
}


.navButton:hover {
    color: whitesmoke;
    transform: scale(1.7);
}


section {
    
    margin-left: 15%;
    padding: 25px;
    text-align: center;

}

h1 {
    font-size: 100px;

}

h2 {
    font-size: 70px;
}